zypp/parser/xmlstore/schema/known-source.rnc

default namespace = "http://www.novell.com/metadata/zypp/xml-store"

boolean = "true" | "false"
source-type = text
url = xsd:anyURI
start = element-source

element-source =
  element source { source }
  
source =
  element enabled { boolean },
  element auto-refresh { boolean },
  element product-dir { text },
  element cache-dir { text },
  element type { source-type },
  element url { url },
  element alias { text }
  
