zypp/parser/xmlstore/schema/pattern.rnc

default namespace = "http://www.novell.com/metadata/zypp/xml-store"

include "resolvable.rnc"

start = element-pattern

element-pattern =
  element pattern { pattern }
  
pattern =
   resolvable-data,
   element-summary+,
   element-description+,
   element default { boolean }?,
   element uservisible { boolean },
   element category { text },
   element icon { text }?,
   element script { text }