src/output/xmlout.rnc

# !! still WORK IN PROGRESS !!
# namespace zypper

# common stuff
# progress, messages, prompts, status

# special stuff
# updates list, installation summary, search output

start = stream-element

stream-element =
  element stream {
    ( progress-elements | download-progress-elements | message-element | prompt-element |
      update-element )+
  }

progress-elements = ( progress-alive | progress-percentage | progress-done )

# todo - restrict and specialize progress by type
progress-percentage =
  element progress {
    attribute id { xsd:string },
    attribute name { xsd:string },
    attribute type { "percentage" },
    attribute value { xsd:integer }
  }

progress-alive =
  element progress {
    attribute id { xsd:string },
    attribute name { xsd:string },
    attribute type { "alive" },
  }

progress-done =
  element progress {
    attribute id { xsd:string },
    attribute name { xsd:string },
    attribute done { xsd:boolean }, # 0 on success, 1 on error
  }

download-progress-elements = ( download-progress-element | download-progress-done )

download-progress-element =
  element download {
    attribute id { xsd:string },
    attribute label { xsd:string },
    attribute percent { xsd:integer },
    attribute rate { xsd:integer } # download rate in bytes per second
#    attribute done { xsd:boolean },
  }

download-progress-done =
  element download {
    attribute id { xsd:string },
    attribute label { xsd:string },
    attribute done { xsd:boolean },
  }

message-element =
  element message {
    attribute id { xsd:string }
    attribute type { "info" | "warning" | "error" },
    text
  }

prompt-element =
  element prompt {
    attribute id { xsd:integer },
    text
  }

update-element =
  element update { empty }
