src/output/xmlout.rnc

# !! still WORK IN PROGRESS !!
# namespace zypper

# common stuff
# progress, messages, prompts, status

# special stuff
# updates list, installation summary, search output

start = stream-element

stream-element =
  element stream {
    ( update-element | progress-element | message-element )+
  }

progress-element = ( progress-tick | progress-percentage )

progress-tick =
  element progress {
    attribute id { xsd:string },
    attribute type { "tick" },
    attribute name { xsd:string }?,
    element tick { empty }*
  }

progress-percentage =
  element progress {
    attribute id { xsd:string },
    attribute type { "percentage" },
    attribute name { xsd:string }?,
    element tick {
      attribute value { xsd:integer }
    }*
  }

# old
#progress-element =
#  element progress {
#    attribute id { xsd:string },
#    attribute type { xsd:string },
#    attribute value { xsd:integer },
#    attribute name { xsd:string }
#  }

update-element =
  element update { empty }

message-element =
  element message {
    attribute id { xsd:string }
    attribute type { "info" | "warning" | "error" },
    text
  }