zypp/parser/yum/schema/filelists.rnc

default namespace = "http://linux.duke.edu/metadata/filelists"

include "common-inc.rnc"

start = element filelists {
  attribute packages { xsd:nonNegativeInteger },
  element package {
    attribute pkgid { text },
    attribute name { text },
    attribute arch { private.archenum },
    element version { private.evr },
    element file { 
      attribute type { "dir" | "ghost" }?,
      text 
    }*
  }*
}
