zypp/parser/yum/schema/other.rnc

default namespace = "http://linux.duke.edu/metadata/other"

include "common-inc.rnc"

start = element otherdata {
  attribute packages { private.nonnegative },
  element package {
    attribute pkgid { text },
    attribute name { text },
    attribute arch { private.archenum },
    element version { private.evr },
    element changelog { 
      attribute author { text },
      attribute date { private.unixts },
      text 
    }*
  }*
}
