zypp/parser/yum/schema/patches.rnc

default namespace = "http://novell.com/package/metadata/suse/patches"

include "common-inc.rnc"

start  = element patches {
  element patch {
    attribute id { text },
    element checksum {
      private.checksum
    },
    element location {
      attribute href { xsd:anyURI }
    },
    element category { "recommended" | "security" | "optional" }?
  }*
}
